body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#pewpew {
  float: left;
}

#hud {
  float: left;
  border: 1px solid #607D8B;
  height: 398px;
  #me {
    font-size: 50px;
    padding: 10px;
    background-color: #607D8B;
    color: white;
    width: 200px;
    &.hit {
      animation: hit 500ms;
      -webkit-animation: hit 500ms;
      @keyframes hit {
        from {
          background-color: red;
        }
        to {
          background-color: #607D8B;
        }
      }
      @-webkit-keyframes hit {
        from {
          background-color: red;
        }
        to {
          background-color: #607D8B;
        }
      }
    }
  }
  #players {
    padding: 10px;
    .health {
      position: relative;
      margin-left: 10px;
      top: -6px;
    }
    li {
      margin: 10px 0;
    }
  }
}
